/*@import 'https://fonts.googleapis.com/css?family=Open+Sans:300, 400';*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,400,700|Rubik");
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background: white;
  /*rgba(0, 0, 0, 0.05);*/
}

body h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

body .rs-subscribe {
  background-color: #ff80cc;
  color: aquamarine;
}

body .dash-dash {
  padding: 22px;
  background-color: orange !important;
  border-radius: 2em;
  color: white;
  font-size: 14px;
}

body .post-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .post-min .content {
  min-width: 20%;
}

body .post-min .like-container {
  text-align: center;
}

body .post-min .like-container .like {
  display: block;
  border: 1px solid #cecece;
  width: 1.5em;
  width: auto;
  border-radius: 0.2em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 2em 1em 0em 0em;
  padding: 0.4em;
  border-color: #cecece;
}

body .post-min .like-container .like:hover {
  cursor: pointer;
  background-color: #ff80cc;
  border-color: #ff80cc;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
}

body .post-min .like-container .like:hover i {
  color: white;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
}

body .post-min .like-container .like i {
  color: #cecece;
  font-weight: 100;
  text-align: center;
}

body .post-min .like-container .like-count {
  display: block;
  width: 1.5em;
  width: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 1vh 1em 2em 0em;
  padding: 0.4em;
  color: #cecece;
}

body .push {
  height: 10vh;
}

body .cancel:hover {
  color: #ff80cc !important;
}

body .rs-icon {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  color: black;
  letter-spacing: 0.2em;
  background-color: aquamarine;
  display: block;
  font-size: 12px;
}

body .rs-icon .rs-github {
  text-decoration: none !important;
}

body .rs-icon .rs-github:hover {
  background-color: #ff80cc;
  color: white !important;
}

body .rs-icon .rs-medium {
  text-decoration: none !important;
  background-color: red !important;
}

body .rs-icon .rs-medium:hover {
  background-color: blue;
  color: white !important;
}

body .rs-icon .sec {
  padding: 1em 1em 1em 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

body .rs-icon .sec:hover {
  -webkit-transition: 30ms;
  transition: 30ms;
  background-color: #ff80cc;
  color: white !important;
}

.stick {
  position: fixed;
  margin: 0.2em 0.2em 0.2em 0.2em;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h2 {
  font-size: 20px;
}

h3 {
  font-family: 'Rubik', sans-serif;
}

p {
  font-size: 18px;
}

.rs-pink {
  color: #333333;
  font-size: 42px;
}

.post {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  width: 350px;
  height: 350px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
}

.post .description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 25px;
  font-size: 25px;
}

.detail {
  width: 600px;
  height: 600px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 600px;
          flex: 0 0 600px;
}

.detail .description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 40px;
  font-size: 38px;
}

.title {
  font-size: 42px;
}

.content {
  font-size: 16px;
}

.new-post {
  background-color: rgba(0, 0, 0, 0.04);
}

.close {
  opacity: 0.5;
  margin-top: 60px;
  margin-right: 60px;
}

.close img {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=index.css.map */